/* Navbar Items */

.navbar-light {
    background-color: #ffffff;
}

.navbar {
    padding: 0;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}



body {
    background-image: url(../images/bananas.png);
    margin-bottom: 60px;

}

.mainheaderleft {
    border: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white !important;
    background: #4aaaa5;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
}

.parentheader {
    background: #ffffff;
    border-bottom: 2px solid #c5c5c5;
    width: auto;
}

/* Body Paragraph */
.body {
    border: 1px solid;
    border-color: #dddddd; 
    background-color: #ffffff;
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2%;
}

.bodyheader {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid #d8d8d8;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color: #777777;
}

.imagefloat {
    float: left;
    width: 20%;
    height: auto;
    padding-right: 3%;
    padding-top: 1em;
}

.footer {
    background: #666666;
    border-top: 5px solid #41a09b;
    padding-top: 1%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #b2a795;
    font-size: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footertext {
    margin-bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}


.bodyparagraphformat {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 0px;
    margin-top: 1em;
}

.contactinputtext {
    display:flex;
    flex-direction:row
}

.inputflex {
    flex: 1;
    border: 1px solid;
    border-color: #dddddd; 
    background-color: #ffffff;
}


.textareadimensions {
    width: 100%;
    height: 150px;
    border: 1px solid;
    border-color: #dddddd; 
    background-color: #ffffff;
}

.submitflex { 
    display: flex; 
    justify-content: space-between;
    width: 200px;
  }

.submitbutton {
    border: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background: #4aaaa5;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
}

.randomimage {
    max-width: 100%;
    max-height: 100%;
}

.rowmargin {
    margin-bottom: 2%;
}

@media only screen and (max-width: 991px) {
    .randomimage {
    margin-bottom: 2%;
    }
    .rowmargin {
    margin-bottom: 0%;
}